{% load static %}
<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>{% block title %}{% endblock %}</title>
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="{% static 'root/base.css' %}">
</head>
<body>
	<button id="filter" class="page-filter-off"></button>
	<!--<i class="material-icons"></i>-->
	<header>
		<button class="button-menu-close" id="menu-button" onclick="changeIcon('menubutton-icon','menu','close');">
			<i id="menubutton-icon" class="material-icons">menu</i>
		</button>
		<h1>Pocket</h1>
		<button class="button-profile-close" id="account-button" onclick="changeIcon('account-icon','account_circle','close');">
			<i id="account-icon" class="material-icons">account_circle</i>
		</button>

	</header>
	<div id="menu-container" class="menu-close">
		<header>Menu</header>
		<button>Home</button>
		<button>Profile</button>
		<button>Settings</button>
		<button>Exit</button>
	</div>
	<div id="profile-menu-container" class="profile-menu-close">
		<header>
			Profile
		</header>
		<button>Log Out</button>
	</div>

<script type="text/javascript" src="{% static 'root/base.js' %}"></script>
</body>
</html>