{% extends 'base.html' %}
{% load static %}

{% block title %}Pocket Food | Home{% endblock %}
{% block content %}

<article class='home-dropdown'>
  <details>
    <summary class="none">
      <div class="row">
        <i class="extra">menu_book</i>
        <div class="max">
          <h5>Custom</h5>
        </div>
        <i>arrow_drop_down</i>
      </div>
    </summary>
    <sectio class="menu-content">

      <article class="no-padding menu-item">
  <img class="responsive small" src="{% static 'root/salad.jpg' %}"><!----><!---->
  <div class="padding">
    <h5>Entradas</h5>
    <p>(Imagen con fines de ilustrativos) Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
    <nav>
      <button>Button</button>
    </nav>
  </div>
  </article>

  <article class="no-padding menu-item">
  <img class="responsive small" src="{% static 'root/pupusas1.jpg' %}"><!----><!---->
  <div class="padding">
    <h5>Comidas</h5>
    <p>(Imagen con fines de ilustrativos) Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
    <nav>
      <button>Button</button>
    </nav>
  </div>
  </article>

  <article class="no-padding menu-item">
  <img class="responsive small" src="{% static 'root/milky.jpg' %}"><!----><!---->
  <div class="padding">
    <h5>Bebidas</h5>
    <p>(Imagen con fines de ilustrativos) Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
    <nav>
      <button>Button</button>
    </nav>
  </div>
  </article>

  <article class="no-padding menu-item">
  <img class="responsive small" src="{% static 'root/pastries.jpg' %}"><!----><!---->
  <div class="padding">
    <h5>Postres?</h5>
    <p>(Imagen con fines de ilustrativos) Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
    <nav>
      <button>Button</button>
    </nav>
  </div>
  </article>
    </sectio>
  </details>
</article>















{% endblock %}