*{
	margin: 0px;
	padding: 0px;
	transition: all 0.2s ease;
	text-align: center;
	font-family: sans-serif;
	--orange-color:#F25B0AFF;
	--green-color:#79A33DFF;
}
#filter{
	background-color: white;
	opacity: 0%;
	position: fixed;
	border: 0px;
	border-radius: 0px;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
	z-index: 1;
}
#filter.page-filter-off{opacity: 0%; pointer-events: none;}
#filter.page-filter-on{opacity: 50%;}
body{
	background-image: url('green_icon.png');
}
header{
	overflow: hidden;
	background-position: top left;
	width: 98.5%;
	padding: 20px 10px;
	border: 4px;
	border-color: navy;
	background-size: cover;
	background-color: var(--orange-color);
}

header > h1{
	width: 100%;
	font-size: 30px;
	float: 	left;
}
header > button{
	position: fixed;
	z-index: 2;
	top: 10px;
}
header > button :hover{padding: 2px;}
header > button :focus{padding: 2px;}
header > button :active{transform: rotate(360deg);}
#menu-button{left: 10px;}
#account-button{right: 10px;}
button{
	background-color: white;
	border: 2px solid black;
	padding: 5px 10px;
	border-radius: 5px;
}
#menu-container{
	position: fixed;
	left: 0px;
	top: 0px;
	background-color: #79A33DFF;
	width: 300px;
	height: 100%;
	z-index: 2;
	border: 2px solid white;
}
#menu-container >header{
	width: 100%;
	padding: 25px 0px;
	font-size: 30px;
	letter-spacing: 8px;
	background-color: #8AB44AFF;
}
.menu-open{
	transform: translateX(0px);
}
.menu-close{
	transform: translateX(-305px);
}
header > .button-menu-open{
	transform: translateX(300px);
}
header > .button-menu-close{
	transform: translateX(0px);
}
button{
	background-color: white;
	border: 2px solid black;
	padding: 5px 10px;
	border-radius: 5px;
}
#menu-container > button{
	font-size: 20px;
	width: 100%;
	letter-spacing: 1px;
	background-color: #0000;
	border-radius: 0px;
	padding: 10px 0px;
	border: 0px;
}
#menu-container > button:focus{
	letter-spacing: 4px;
	background-color: #fff5;
}
#menu-container > button:hover{
	letter-spacing: 4px;
	background-color: #fff5;
}
#menu-container > button:active{
	letter-spacing: 8px;
	background-color: #fffa;
}

#profile-menu-container{
	position: fixed;
	right: 0px;
	top: 0px;
	background-color: var(--green-color);
	width: 300px;
	height: 50%;
	z-index: 2;
	border: 2px solid white;
}
#profile-menu-container > button{
	font-size: 20px;
	width: 100%;
	letter-spacing: 1px;
	background-color: #0000;
	border-radius: 0px;
	padding: 10px 0px;
	border: 0px;
}
#profile-menu-container > button:focus{
	letter-spacing: 4px;
	background-color: #fff5;
}
#profile-menu-container > button:hover{
	letter-spacing: 4px;
	background-color: #fff5;
}
#profile-menu-container > button:active{
	letter-spacing: 8px;
	background-color: #fffa;
}
#profile-menu-container >header{
	width: 100%;
	padding: 25px 0px;
	font-size: 30px;
	letter-spacing: 8px;
	background-color: #8AB44AFF;
}
.profile-menu-open{
	transform: translateX(0px);
}
.profile-menu-close{
	transform: translateX(305px);
}
header > .button-profile-close{transform: translateX(0px);}
header > .button-profile-open{transform: translateX(-300px);}